
.browse-search-bar{
  width: 300px;
}
#search{
position: relative;
    left: 45vh;

}

.username{

    left: 70vh
}

#login{
}

/*.home-image {*/
/*    background-size: cover;*/
/*    background: url("../Images/blankcard.png") no-repeat fixed center center;*/
/*    height: 100vh;*/
/*}*/

.vh-10{
    height: 10vh;
}

.navbarfont{
    font-size:large;
}

.backgroundhome{
    background-color: saddlebrown;
}

#dragon{
    background-size: cover;
    background: lightgray url(../Images/shimmerdragon.jpg) no-repeat center;
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-container{
    justify-content: space-between;
    width: 200px
}

.homepage-text{
    font-size: large;
    color: white;
}

.browse-background {
    background-size: cover;
    background: lightgray url(../Images/shimmerdragon.jpg) no-repeat center;
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message{
    position: relative;
    left: 60vh;
}

